<div class="container" fxLayoutAlign="center center" fxLayout="column">
    <div class="logo">Create a new account!</div>
    <div class="register-item">
      <form [formGroup]="registerForm"  class="form form-register">

        <div class="form-field">
            <mat-form-field  fxFlex="600px" fxFlex.xs="300px">
                <mat-label>Enter your Username</mat-label>
                <input matInput formControlName="username" placeholder="Username">
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error>
                  Username required.
            </mat-error>
              </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field fxFlex="600px" fxFlex.xs="300px">
                <mat-label>Enter your email</mat-label>
                <input matInput formControlName="email" placeholder="pat@example.com" >
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="email.errors?.required">
                  Email required.
                </mat-error>
                <mat-error *ngIf="email.errors?.pattern">
                  Invalid Email.
                </mat-error>
              </mat-form-field>
        </div>

        <div class="form-field">
        <mat-form-field fxFlex="600px" fxFlex.xs="300px">
            <mat-label >Enter your password</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
            <button mat-button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.errors?.required">
              Password required.
            </mat-error>
            <mat-error *ngIf="password.errors?.minlength">
              Password min length 8.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-field">
          <input type="submit" value="Register" (click)=onSubmit()>
        </div>
      </form>
    </div>
</div>
