<div class="container" fxLayoutAlign="center" fxLayout='column' >
    <form [formGroup]="criticsForm"  class="form form-login">
    <div fxLayoutAlign="center" fxLayout="row wrap" *ngIf='islogged'>
        <mat-form-field class="form-field" fxFlex="400px" fxFlex.xs="100px">
            <mat-label>{{'MOVIE.TITLE' | transloco}}</mat-label>
            <input matInput  formControlName="title" placeholder="">
            <mat-icon matSuffix>perm_identity</mat-icon>
            <mat-error>
              {{'ERRORS.TITLEREQUIRED' | transloco}}
        </mat-error>
          </mat-form-field>
      <mat-form-field class="form-field" fxFlex="300px" fxFlex.xs="100px">
        <mat-label>{{'CRITICS.SELECTANOTE'| transloco}}</mat-label>
        <mat-select [(value)]="selected">
          <mat-option *ngFor='let note of notesAviables' [value]='note'>{{note}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="center" fxLayout="row wrap" *ngIf='islogged'>
        <mat-form-field class="form-field" fxFlex="600px" fxFlex.xs="300px" appearance="outline">
            <mat-label>{{'CRITICS.CONTENT'| transloco}}</mat-label>
            <textarea matInput  formControlName="content" placeholder="Ex. this is example..."></textarea>
            <mat-error>
              {{'ERRORS.CONTENTREQUIRED' | transloco}}
          </mat-error>
        </mat-form-field>
    </div>
    <div fxLayoutAlign="center" fxLayout="row wrap" *ngIf='!islogged'>
        <mat-form-field class="form-field" fxFlex="600px" fxFlex.xs="300px" appearance="outline"  >
            <mat-label>{{'CRITICS.CONTENT'| transloco}}</mat-label>
            <textarea  matInput class="textarea-disable" readonly="true" [routerLink]="['/login']">
                {{'CRITICS.REGISTERCOMMENTREVIEW' | transloco}}
            </textarea>
        </mat-form-field>
    </div>
    <div class="btn-Submit" *ngIf='islogged' fxLayoutAlign="end">
        <input type="submit" value="{{'CRITICS.DOCRITIC' | transloco}}" (click)=onSubmit()>
      </div>
    </form>
    <div fxLayoutAlign="center center" fxLayout='column'>
      <mat-card class="example-card" *ngFor="let critic of critics  | paginate: {
        currentPage: currentPage,
        itemsPerPage: 3,
        totalItems: totalItems  
      }">
        <mat-card-header>
          <mat-card-title>{{critic.username}}</mat-card-title>
          <mat-card-subtitle>{{critic.date}}</mat-card-subtitle>
          <div class="note">{{critic.note}}</div>
        </mat-card-header>
        <mat-card-content>
          <mat-card-title> <p>{{critic.title}}</p></mat-card-title>
          <p style="white-space:pre-wrap;">{{critic.content}}</p>
        </mat-card-content>
      </mat-card>
    <pagination-controls  responsive="true"  (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
  </div>
</div>
