<div class="container" *ngIf=detailsMovie  fxLayoutAlign="center" fxLayout="row wrap">
<div class="container-image">
    <img class="image-movie" alt="photo" src="{{detailsMovie.photo}}">
</div>
<div class="container-details">
    <table>
        <tr>
          <td><span>Director:</span></td>
          <td>{{detailsMovie.director}}</td>
        </tr>
        <tr>
          <td><span>Descripción:</span></td>
          <td class="description">{{detailsMovie.description}}</td>
        </tr>
        <tr>
          <td><span>Titulo:</span></td>
          <td>{{detailsMovie.title}}</td>
        </tr>
        <tr>
            <td><span>Fecha:</span></td>
            <td>{{detailsMovie.releaseDate}}</td>
        </tr>
        <tr>
            <td><span>Generos:</span></td>
            <td fxLayoutAlign="start start" fxLayout="row wrap">
            <div fxLayoutAlign="start start" fxLayout="row wrap" *ngFor="let genre of detailsMovie.genres;">
                <p>{{genre.name}}<span></span></p>
            </div>
            </td>
        </tr>
      </table>
</div>
</div>