<div class="container" fxLayout="column" fxLayoutAlign="center center" >
<h1>Admin Page</h1>
<div class="buttons-admin" fxLayout="row wrap" fxLayoutAlign="center center">
<button mat-raised-button color="secondary"  [routerLink]="['/admin','users']">Admin Users</button>
<button mat-raised-button color="secondary"  [routerLink]="['/admin','critics']">Admin Critics</button>
<button mat-raised-button color="secondary"  [routerLink]="['/admin','movies']">Admin Movies</button>
</div>
</div>
<div class="admin-panel">
<router-outlet></router-outlet>
</div>