<div class="container" fxLayout="column" fxLayoutAlign="center center" >
<h1>{{'ADMIN.PAGE' | transloco}}</h1>
<div class="buttons-admin" fxLayout="row wrap" fxLayoutAlign="center center">
<button mat-raised-button color="secondary"  [routerLink]="['/admin','users']">{{'ADMIN.USERS' | transloco}}</button>
<button mat-raised-button color="secondary"  [routerLink]="['/admin','critics']">{{'ADMIN.CRITICS' | transloco}}</button>
<button mat-raised-button color="secondary"  [routerLink]="['/admin','movies']">{{'ADMIN.MOVIES' | transloco}}</button>
</div>
</div>
<div class="admin-panel">
<router-outlet></router-outlet>
</div>