
<mat-toolbar color="secondary"  fxLayoutAlign="center center" fxLayoutAlign.xs="start center" fxLayoutGap="50px">
  <h1 class="title" routerLink="/home" >
    Movies 
  </h1>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
</div>
<app-moviessearch></app-moviessearch>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
  <button mat-button routerLink="/register" *ngIf="!islogged">Registarse</button>
  <button mat-button routerLink="/login" *ngIf="!islogged">Iniciar Sesión</button>
  <button mat-button (click)=logout() *ngIf="islogged">Cerrar Sesión</button>
</div>
<button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
  <mat-icon>menu</mat-icon>
 </button>

</mat-toolbar>
<mat-menu x-position="after" #menu="matMenu">
  <button mat-menu-item routerLink="/login" *ngIf="!islogged">Iniciar Sesion</button>
  <button mat-menu-item routerLink="/register" *ngIf="!islogged">Registarse</button>
  <button mat-button (click)=logout() *ngIf="islogged">Cerrar Sesión</button>
  <!--<button mat-menu-item>Help</button>-->
</mat-menu>
<router-outlet></router-outlet>

<footer>
  <mat-toolbar color='secondary' fxLayout=row fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start center">
    <p style="font-size: 11px;">© 2020 Copyright: The Best Movies in The World</p>
  </mat-toolbar>
</footer>
