<div class=" container" fxLayout="row wrap" fxLayoutAlign="center">
    <div class="container-table" fxLayout="column" fxLayoutAlign="center center">
    <table mat-table [dataSource]="genres | paginate: {
        currentPage: currentPage,
        itemsPerPage: 10,
        totalItems: totalItems  
      }"  class="mat-elevation-z8" >
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let genre">{{genre.id}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let genre">{{genre.name}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let genre"><button mat-button (click)=onDelete(genre)>Delete</button><button mat-button (click)=addGenretoForm(genre)>Update</button></td>
        </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <pagination-controls  responsive="true"  (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
</div>
    <div class="container-form">
    <form [formGroup]="genreForm"  #formDirective="ngForm" >
        <div class="form-field" *ngIf="aGenreToUpdate">
            <input type="button" value="Show form to create" (click)=putFormCreateGenre(formDirective)>
          </div>

        <div class="form-field" *ngIf="aGenreToUpdate" >
            <mat-form-field   fxFlex="400px" fxFlex.xs="300px">
                <mat-label>Id Genre</mat-label>
                <input matInput formControlName="id" placeholder="Genre" readonly=true>
              </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field   fxFlex="400px" fxFlex.xs="300px">
                <mat-label>Enter Genre</mat-label>
                <input matInput formControlName="genre" placeholder="Genre">
                <mat-icon matSuffix>category</mat-icon>
                <mat-error>
                  Genre Required
            </mat-error>
              </mat-form-field>
        </div>

        <div class="form-field" *ngIf="!aGenreToUpdate">
          <input type="submit" value="Create genre" (click)=onSubmit(formDirective)>
        </div>
        <div class="form-field" *ngIf="aGenreToUpdate">
            <input type="submit" value="Update genre" (click)=onUpdate(formDirective)>
          </div>
    </form>
</div>
</div>