<div class="container" *ngIf=detailsMovie  fxLayoutAlign="center" fxLayout="row wrap">
<div class="container-image">
    <img class="image-movie" alt="photo" src="{{detailsMovie.photo}}">
</div>
<div class="container-details">
    <table>
        <tr>
          <td><span>{{'MOVIE.DIRECTOR' | transloco}}:</span></td>
          <td>{{detailsMovie.director}}</td>
        </tr>
        <tr>
          <td><span>{{'MOVIE.DESCRIPTION' | transloco}}:</span></td>
          <td class="description">{{detailsMovie.description}}</td>
        </tr>
        <tr>
          <td><span>{{'MOVIE.TITLE' | transloco}}:</span></td>
          <td>{{detailsMovie.title}}</td>
        </tr>
        <tr>
            <td><span>{{'MOVIE.DATE' | transloco}}:</span></td>
            <td>{{detailsMovie.releaseDate}}</td>
        </tr>
        <tr>
            <td><span>{{'MOVIE.GENRES' | transloco}}:</span></td>
            <td fxLayoutAlign="start start" fxLayout="row wrap">
            <div fxLayoutAlign="start start" fxLayout="row wrap" *ngFor="let genre of detailsMovie.genres;">
                <p>{{'GENRES.'+ genre.name | replace | transloco}}<span></span></p>
            </div>
            </td>
        </tr>
      </table>
</div>
</div>